<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_0_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_10_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{307,1},{100,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_11_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_12_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_13_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{959,1},{94,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_14_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{959,1},{94,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_15_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1053,1},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_16_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1053,1},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_17_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1145,1},{88,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_18_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1145,1},{88,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_19_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{701,1},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_1_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{205,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_20_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{701,1},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_21_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{787,1},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_22_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{787,1},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_23_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{873,1},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_24_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{873,1},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_25_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1235,1},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_26_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1235,1},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_27_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1323,1},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_28_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1323,1},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_2_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{205,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_3_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{407,1},{100,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_4_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{407,1},{100,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_5_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{507,1},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_6_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{507,1},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_7_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{94,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{605,1},{94,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_8_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{94,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{605,1},{94,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_9_delay-0.07s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{307,1},{100,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effort.png</string>
            <key>size</key>
            <string>{1408,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a467f28733d6286bfd5cf023031b3c0:19e01b4d25a63af2b64a43eb9075cddf:fc59c62868a95b03d16baa318475e234$</string>
            <key>textureFileName</key>
            <string>effort.png</string>
        </dict>
    </dict>
</plist>
