<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spritesheet_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,106}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{99,1},{94,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spritesheet_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,105}</string>
                <key>spriteSourceSize</key>
                <string>{96,105}</string>
                <key>textureRect</key>
                <string>{{195,1},{96,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spritesheet_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,107}</string>
                <key>spriteSourceSize</key>
                <string>{96,107}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spritesheet_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,102}</string>
                <key>spriteSourceSize</key>
                <string>{73,102}</string>
                <key>textureRect</key>
                <string>{{293,1},{73,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{367,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8bcd90dc66522e5df3dcf3c896d5074:f0bbb63ceb0fc88115ded97c60660f42:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
