<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerShip1_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,75}</string>
                <key>spriteSourceSize</key>
                <string>{99,75}</string>
                <key>textureRect</key>
                <string>{{115,78},{99,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip1_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,75}</string>
                <key>spriteSourceSize</key>
                <string>{99,75}</string>
                <key>textureRect</key>
                <string>{{229,1},{99,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip1_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,75}</string>
                <key>spriteSourceSize</key>
                <string>{99,75}</string>
                <key>textureRect</key>
                <string>{{115,155},{99,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip1_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,75}</string>
                <key>spriteSourceSize</key>
                <string>{99,75}</string>
                <key>textureRect</key>
                <string>{{216,78},{99,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip2_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,75}</string>
                <key>spriteSourceSize</key>
                <string>{112,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip2_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,75}</string>
                <key>spriteSourceSize</key>
                <string>{112,75}</string>
                <key>textureRect</key>
                <string>{{1,78},{112,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip2_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,75}</string>
                <key>spriteSourceSize</key>
                <string>{112,75}</string>
                <key>textureRect</key>
                <string>{{115,1},{112,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip2_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,75}</string>
                <key>spriteSourceSize</key>
                <string>{112,75}</string>
                <key>textureRect</key>
                <string>{{1,155},{112,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,75}</string>
                <key>spriteSourceSize</key>
                <string>{98,75}</string>
                <key>textureRect</key>
                <string>{{330,1},{98,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,75}</string>
                <key>spriteSourceSize</key>
                <string>{98,75}</string>
                <key>textureRect</key>
                <string>{{216,155},{98,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,75}</string>
                <key>spriteSourceSize</key>
                <string>{98,75}</string>
                <key>textureRect</key>
                <string>{{317,78},{98,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerShip3_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,75}</string>
                <key>spriteSourceSize</key>
                <string>{98,75}</string>
                <key>textureRect</key>
                <string>{{316,155},{98,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerShip.png</string>
            <key>size</key>
            <string>{429,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9bd065e88683904b71a0fa1f731e7db:bd10d786746391c7317c98c8f20721ef:00d0c8de2a014774f81dc67f12f611ab$</string>
            <key>textureFileName</key>
            <string>playerShip.png</string>
        </dict>
    </dict>
</plist>
